body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 70px;
	padding: 5px;
	line-height: 175%;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #37a5f9;
	color: white;
	text-align: center;
}

footer a {
	color: white;
}

h1 {
	text-align: center;
}

.topnav {
	overflow: hidden;
	background-color: lightgray;
}

.topnav a {
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	font-size: 17px;
	color: black;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #37a5f9;
	color: white;
}
